In [28]:
import openpyxl
import pandas as pd
from datetime import datetime
from datetime import date
import pandas as pd
import pandas_gbq as pgbq
from time import strftime
import datetime
import numpy as np

project_id = 'tensile-oarlock-191715'

# The current reporting month end
# Modify as needed when new script is run
curr_month_end = '2022-12-31'

# The name of the CSV output file. Eventually, this should be commented out.
# Modify as needed when new script is run
csv_out_name = 'test_coverme_finance_view_2022_07_31_mst_2.csv'

# This is the output table that we write to in MetaBase
# Do not modify this
out_table = 'risk.CM_finance_view_alt'
#out_table = 'risk.CM_finance_view_dl'

# Cohort ends
# Do not modify the start date
# Add a month to the end date
# Requirement for end date to be several periods in the future 
# as due date of paid loans could be up to 30 days away
periods = pd.date_range(start='2021-08-15', 
                       end='2022-12-31',
                       freq='M') # W for weekly M for monthly

today = date.today()
def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

wb = openpyxl.load_workbook("Monthly Credit Risk Reporting.xlsx",data_only=True)

In [29]:
Old_Cover_df = pd.DataFrame(wb['Cover'].values)

In [30]:
Old_Cover_df = Old_Cover_df.dropna(axis = 1,how='all')
Old_Cover_df = Old_Cover_df.dropna(how='all')

In [35]:
diff_month(today,datetime(2021,9,1))

16

In [37]:
Old_Cover_df.iloc[:,diff_month(today,datetime(2021,9,1))]

0      2022-12-01 00:00:00
1                 380750.0
2              169585.6932
3              211164.3068
4              5727432.545
              ...
96               57.527913
97               54.192688
98               50.456087
99               50.526583
100              50.402202
Name: 16, Length: 98, dtype: object

In [38]:
Old_Cover_df.columns = Old_Cover_df.iloc[0]

,,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,...,Sep 2022F,Oct 2022F,Nov 2022F,Jan 2023F,Feb 2023F,Mar 2023F,Apr 2023F,None,None,None
0,,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,...,Sep 2022F,Oct 2022F,Nov 2022F,Jan 2023F,Feb 2023F,Mar 2023F,Apr 2023F,None,None,None
1,Revenue,6100.1,9440.0,36455.0,41440.0,71330.0,70445.0,75555.0,72930.0,86205.0,...,310000,330000,360000,380703.96,403302.12,440459.4,457826.5649,None,None,None
2,Cost,0.0,0.0,23381.0,-23381,102157.8775,36787.61757,25250.01819,-9448.183736,33872.66294,...,150200.2937,174270.9187,140479.4177,200504.8783,146885.4354,132469.1985,159964.3749,None,None,None
3,Net Income,6100.1,9440,13074,64821,-30827.87749,33657.38243,50304.98181,82378.18374,52332.33706,...,159799.7063,155729.0813,219520.5823,180199.0817,256416.6846,307990.2015,297862.19,None,None,None
4,Average Loan Book,None,99735,275572.5,477310,665885,855085,921500,936630,997662.5,...,3587776.477,4697656.455,5322291.722,6110137.392,6306627.813,6165297.548,6101398.227,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,31-60,None,None,None,None,51.892971,52.441077,49.692172,50.551817,50.067265,...,None,None,None,None,None,None,None,None,None,None
97,61-90,None,None,None,None,57.580645,52.105263,52.307692,49.764957,50.795645,...,None,None,None,None,None,None,None,None,None,None
98,91-120,None,None,None,None,62.033898,57.169811,52.119048,52.419355,49.67033,...,None,None,None,None,None,None,None,None,None,None
99,Cumulative 91+,None,None,None,None,62.033898,59.147727,54.690402,53.959474,52.347767,...,None,None,None,None,None,None,None,None,None,None
100,Net write-off in the month,None,None,None,None,62.033898,56.815068,51.609948,52.191011,49.743363,...,None,None,None,None,None,None,None,None,None,None

In [40]:
Old_Cover_df.loc[:,'Dec 2022F']

0        Dec 2022F
1           385500
2      167137.9619
3      218362.0381
4      5843657.592
          ...
96            None
97            None
98            None
99            None
100           None
Name: Dec 2022F, Length: 98, dtype: object